<div class="card">
  <div class="header">
    <img alt="profile" src="client/pictures/אינדיאני.jpg" />
  </div>
  <div class="content">
    <h2 class="user-name">Yashar Pashaiy</h2>
    <p>@yasharpa</p>
  </div>
  <div class="icons"></div>
  <p class="description">
    Crafting Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque
    aperiam consequuntur laborum vel placeat cumque provident, tempora ex omnis
    in non, reprehenderit quae iste ea.
  </p>
  <div class="buttons">
    <button class="follow">Follow</button>
    <button>Message</button>
  </div>
</div>
